.ingredient-form {
  background-color: rgba(245, 245, 245, 0.9);
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-ingredient {
  background-color: #FFF;
}
