.main-flex-box {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;

}

.flex-content {
  width: 50%;
  background-color: #fff;
  height: 80vh;
}

.flex-content-image {
  width: 50%;
  background-image: url("https://images.unsplash.com/photo-1525575674331-70638740994c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=0941006c53ab67396e9db202d201d9f9&auto=format&fit=crop&w=668&q=80");
  height: 80vh;
}

.flex-details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 70vh;
  text-align: center;
}

i {
  color: #F2F2F2;
}
