.home-banner {
  background-image: url('https://images.unsplash.com/photo-1497990902153-c6d041aad676?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b0e32dc4a9db552bf4afe23f11037c86&auto=format&fit=crop&w=2607&q=80');
  background-size: cover;
  height: 100vh;
  color: #e91791;
  text-align: center;
  padding-top: 40vh;
}
#banner-typed-text {
  font-family: 'Permanent Marker', cursive;
  color: #FFF;
  font-size: 80px;
}


// https://images.unsplash.com/photo-1497990902153-c6d041aad676?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b0e32dc4a9db552bf4afe23f11037c86&auto=format&fit=crop&w=2607&q=80
// https://media.giphy.com/media/xTk9ZXHUMwunBN3efe/giphy.gif
